{% extends "videoplay/base.html"%}
{% load static %}
{% block content %}
<div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <div class="jumbotron">
                                    <h1 class="display-4">Welcome!</h1>
                                    <p class="lead">Thank you for your participation!</p>
                                    <hr class="my-4">
                                    <div class="list-group">
                                    <ol>
                                    <li> As Step one download the videos using download button given below</li>
                                    <li>Once Videos are Downloaded click "Start Watching" and provide the location to the downloaded videos by clicking the "Select Videos" button on the next page</li>
                                    <li>The Study comprises in total of 20 Videos,Pause the video at any moment you want to take a break.</li>
                                    <li>At the end of each video enter your rating from scale of 1-10</li>
                                    <li>Study will end only when ratings are given to all the videos</li>

                                   </ol>
                                  </div>
                                    {% if user.is_authenticated %}


                                        <button type="button" class="btn btn-success btn-md" onclick = clickdownload()>Download Your Personalized Videos for the Ratings</button>


                                        <br/>
                                        <br/>
                                        <form action="{%url 'videoplay-videos' %}" >
                                          <br/>
                                            <!-- <input type="file" onchange="readFiles(event)" multiple> -->

                                            <br></br>
                                            <input value= "Start Watching" type="submit" class="btn btn-danger btn-md">
                                          </form>


                                    {% else %}
                                      <div>
                                          <b>Need an Account?  </b>
                                          <p></p>
                                          <a  class="btn btn-primary btn-md" href="{%url 'register'%}" role="button">Sign Up!</a>
                                          <br>
                                          <br>
                                          <b>Already have an Account?  </b>
                                          <p></p>
                                          <a class="btn btn-success btn-md" href="{%url 'login'%}" role="button">Login!</a>
                                    {% endif %}
                                  </div>
                              </div>
                            </div>
                          </div>

                </div>

                     <!-- <div id="headerPopup" class="embed-responsive embed-responsive-16by9"> -->
                      <!-- </div> -->

<script>

// var urls = "{{ urls|safe }}";
var urls = [
     "{% static 'video/video1.mp4' %}",
     "{% static 'video/video2.mp4' %}",
     "{% static 'video/video3.mp4' %}"

       ]
var stati_url = "{{ static|safe }}";
var username = "{{username}}";

  function clickdownload(){
    console.log(urls);
    console.log(stati_url);
    console.log(username)
    var interval = setInterval(ondownload, 300, urls);
    if (urls.length == 0) {
        clearInterval(interval);
        return;
      }
  }

    function ondownload(urls) {
      if (urls.length == 0) {
        return;
      }

      var url = urls.pop();

      var a = document.createElement("a");
      a.setAttribute('href',  url);
      a.setAttribute('download', '');
      a.setAttribute('target', '_blank');
      a.click();


    }
// //For fetching and playing Videos
// var slider = document.getElementById("myRange");
// var output = document.getElementById("demo");
// var fileList;
// var i=0;
// function readFiles(event) {
//     fileList = event.target.files;
//     vid.requestFullscreen()
//     loadAsUrl(fileList[i]);

// }
// // output.innerHTML = slider.value;
// // slider.oninput = function() {
// //   output.innerHTML = this.value;
// //   score=this.value;
// // }

// function loadAsUrl(theFile) {
//     var reader = new FileReader();

//     reader.onload = function(loadedEvent) {
//         //playVid();
//         var vid = document.getElementById("vid");
//         vid.src=loadedEvent.target.result;
//         // vid.addEventListener('ended',myHandler,false);
//         // function myHandler(e) {
//         //        slider.style.opacity=0.8;
//         //        slider.disabled=false;
//         // }
//     }

//     reader.readAsDataURL(theFile);
// }

//     function nextVid(){
//       i++;
//       if(i==3){
//         i=0;
//       }
//       loadAsUrl(fileList[i]);
//       slider.value=50;
//       output.innerHTML=50;
//     }


// //Setting source of video
// function setSrc(){
//    var mySrc=document.querySelector("#headerPopup iframe");
//    mySrc.src="https://www.youtube.com/embed/qN3OueBm9F4?autoplay=1";
// }


</script>

    {%endblock content%}
