{% extends "videoplay/base.html"%}
{% load static %}
{% block script %}

{{name_list}} 
{% endblock %}

{% block content %}
 <script>
  var objs = '{{urls}}'.split(',');
  var double_stimulus_list='{{name_list}}'

 function createZip()
{
var zip = new JSZip();
var count = 0;
var zipFilename = "video.zip";

console.log(objs);
objs.forEach(function(url){
  console.log("Starting download before")
  // loading a file and add it in a zip file
  JSZipUtils.getBinaryContent(url, function (err, data) {
     if(err) {
        throw err; // or handle the error
     }
     var namef = url.split('/');
     var filename = namef[namef.length-1];
     console.log("Starting download")
     console.log(filename);
     zip.file(filename, data, {binary:true});
     count++;
     console.log(count)
     if (count == objs.length) {
      console.log("Starting zip")
       zip.generateAsync({type:'blob'}).then(function(content) {
          saveAs(content, zipFilename);
       });
    }
  });
});

}
 
 </script> 
 
 <div class="container fluid">
    <div class="row">
      <div class="col text-center">
                                  
                                    <h1 class="display-4 text-white">Welcome!</h1>
                                    <p class="lead text-muted">Thank you for your participation!</p>
                                    <hr class="my-4 text-center">


                                    
                                    <div class="list-group text-left text-white">
                                    <ol>
                                    <li> As Step one download the videos using download button given below</li>
                                    <li>Once Videos are Downloaded click "Start Watching" and provide the location to the downloaded videos by clicking the "Select Videos" button on the next page</li>
                                    <li>The Study comprises in total of 20 Videos,Pause the video at any moment you want to take a break.</li>
                                    <li>At the end of each video enter your rating from scale of 1-10</li>
                                    <li>Study will end only when ratings are given to all the videos</li>

                                   </ol>
                                
                                </div>
                                    {% if user.is_authenticated %}
   
                                    <br>

                                    <button type="button" id="downloadButton" class="btn btn-primary btn-md" style="width:100%;border-color:gray;background-color:rgb(8, 3, 56);;border-width:3px " onclick ="createZip()" name="download"><i class="fa fa-download"></i> Download Your Personalized Videos for the Ratings</button>


                                        <br/>
                                        <br/>
                                          <br/>

                                            <br/>
                                          <a href="{% url 'videoplay-videos' %}"><button type="button" id="startButton" class="btn btn-primary btn-md" style="border-color:gray;background-color:rgb(8, 3, 56);;" name="part1">Part 1 <i2 class="arrow right"></i2></button></a>
                                          <a href="{% url 'videoplay-videos2' %}"><button type="button" id="startButton" class="btn btn-primary btn-md" style="border-color:gray;background-color:rgb(8, 3, 56);;" name="part2">Part 2 <i2 class="arrow right"></i2></button></a>
                                          


                                    {% else %}
                                      <div>
                                          <b>Need an Account?  </b>
                                          <p></p>
                                          <a  class="btn btn-primary btn-md" href="{%url 'register'%}" role="button">Sign Up!</a>
                                          <br>
                                          <br>
                                          <b>Already have an Account?  </b>
                                          <p></p>
                                          <a class="btn btn-success btn-md" href="{%url 'login'%}" role="button">Login!</a>
                                    {% endif %}
                                  </div>
                              </div>
                            </div>
                          </div>
                </div>


  {%endblock content%}
 
