<!-- Zeba & Ganesh first change-->
{% extends "videoplay/base.html"%}
{% block content %}

<div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <div class="jumbotron">
                                    <h1 class="display-4">Welcome!</h1>
                                    <p class="lead">Thank you for your participation!</p>
                                    <hr class="my-4">
                                    <p>The Study comprises in total 20 Videos, Pause the video at any moment you want to take a break.</p>
                                    At the end of each video enter your rating from scale of 1-10
                                    <br></br>
                                    {% if user.is_authenticated %}
                                      <a class="btn btn-primary btn-lg" href="{%url 'videoplay-videos' %}" role="button">Start Experiment!</a>
                                    {% else %}
                                      <div>
                                          <b>Need an Account?  </b>
                                          <p></p>
                                          <a  class="btn btn-primary btn-md" href="{%url 'register'%}" role="button">Sign Up!</a>
                                          <br>
                                          <br>
                                          <b>Already have an Account?  </b>
                                          <p></p>
                                          <a class="btn btn-primary btn-md"href="{%url 'login'%}" role="button">Login!</a>
                                    {% endif %}
                                  </div>
                              </div>
                            </div>
                          </div>

                </div>


    {%endblock content%}
