<!-- Zeba & Ganesh first change-->
{% extends "videoplay/base.html"%}
{% block content %}
        
<div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <div class="jumbotron">
                                    <h1 class="display-4">Welcome!</h1>
                                    <p class="lead">Thank you for your participation!</p>
                                    <hr class="my-4">
                                    <p>The Study comprises in total 20 Videos, Pause the video at any moment you want to take a break.At end of each video enter your rating from scale of 1-10</p>
                                    <a class="btn btn-primary btn-lg" href="{%url 'videoplay-videos' %}" role="button">Start Watching!</a>
                                  </div>
                              </div>
                            </div>
                          </div>
                    
                </div>
    <style>
        body {
            background-color: grey;
        }
         #accounts {
          padding-right: 30px;
        }
        .dropdown-item {
          position: relative;
        }
    </style>
  
    <script> 

    </script> 
    

    {%endblock content%}