{% extends "videoplay/base.html"%}
{%load staticfiles%}
{% block content %}
<script>
    var links=[
    "{% static 'video/video1.mp4' type = 'video/mp4' %}",
    "{% static 'video/video2.mp4' type = 'video/mp4' %}"
    ];
    var i=0;
    function nextVid(){
      vid.src=links[i];
      i++;
      if(i==2){
        i=0;
      }
  }
  </script>
                    <div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <video id="myVideo" width="75%" height="100%" controls>
                                   
                                      <source src = "{% static 'video/video1.mp4' type = 'video/mp4' %}">
                                       Your browser does not support HTML5 video. 
  

                                </video>
                                <br/>
                                <br/>
                                
                                 <button type="button" onclick="playVid()" class="btn btn-primary btn-md" disabled>Play Video</button>
                             
                                 <button type="button" onclick="pauseVid()" class="btn btn-secondary btn-md" disabled>Pause Video</button>
                                 <button id="ratevideo" type="button" onclick="location.href = '{%url 'score'%}';" class="btn btn-warning btn-md" disabled>Rate Video</button>
                                 <button type="button" onclick="nextVid()" class="btn btn-success btn-md" disabled>Next Video</button>
                              </div>
                            </div>
                          </div>

                </div>

              


    {%endblock content%}
