{% extends "videoplay/base.html"%}
{%load staticfiles%}
{% block content %}
                    <div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <video id="myVideo" width="75%" height="100%" controls>
        
                                      <source src = "{% static 'video/video1.mp4' type = 'video/mp4' %}">
                                       Your browser does not support HTML5 video. 
  

                                </video>
                                <br/>
                                <br/>
                                 <button type="button" onclick="playVid()" class="btn btn-primary btn-md">Play Video</button>
                                 <button type="button" onclick="pauseVid()" class="btn btn-secondary btn-md">Pause Video</button>
                                 <button type="button" onclick="playVid()" class="btn btn-warning btn-md">Rate Video</button>
                                 <button type="button" onclick="pauseVid()" class="btn btn-success btn-md">Next Video</button>
                              </div>
                            </div>
                          </div>

                </div>

  
    {%endblock content%}
