{% extends "videoplay/base.html"%}
{% load static %}
{% block content %}
<!-- {% static 'video/video1.mp4' %} -->
                    <div class="container fluid">
                      <div class="selectingVideo">
                      <input class="inputfile" type="file" name="file" id="file" onchange="readFiles(event)" multiple>
                      <label for="file">Select Videos</label>
                      </div>
                            <div class="row">
                              <div class="col text-center">
                                <video style="display: none" id="myVideo" width="100%" height="100%">
                                      <source src = "" type="video/mp4">
                                       Your browser does not support HTML5 video.
                                </video>
                                <br/>
                                <br/>

                                  <h1 id="mssg" style="color: white">{{message}}</h1>
                                 <button id="playBtn" type="button" onclick="toggleFullscreen()" class="btn btn-primary btn-md">Begin</button>
                                 <div class="slidecontainer">
                                   <input type="range" min="1" max="100" value="50" class="slider" id="myRange" oninput="myFun(this.value)" disabled>
                                   
                                   <p style="color: yellow;">Score: <span id="demo"></span></p>
                                 </div>
                                 <form method="POST">
                                 {% csrf_token %}
                                 <input type="hidden" name="score" value="">
                                 <button type="submit" onclick="nextVid()" class="btn btn-success btn-md">Submit Score</button>
                              
                                 <input type="hidden" id="user_name" name="user_name" value="{{user.username}}">
                                 <!-- <button type="button" onclick="nextVid()" class="btn btn-success btn-md">Next Video</button> -->
                                 {% comment %} </form> {% endcomment %}
                              </div>
                            </div>
                          </div>


<style>


  .selectingVideo{
    position: absolute;
    top: 210px;
    left: 45%;
    display: block;
  }

  #playBtn{
    position: absolute;
    top: 230px;
    left: 540px;
    display: block;
  }

  .slidecontainer {
    width: 50%;
    margin: 0 auto;
    padding: 2% 2%;

  }
  #demo{
    color: yellow;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.2;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  #submitBtn{
    position: absolute;
    top: 350px;
    left: 500px;
  }


  #myRange{
    position: absolute;
    top: 300px;
    left: 20px;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: blue;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
</style>



{% comment %} 
<script type="text/javascript">
  const params=new URLSearchParams({
    query: 'dinner',
    language: 'en'
  })

  const url='{% url 'videoplay-videos' %}?${params.toString()}'
  console.log(url)

  fetch(url)
    .then(response=>response.text())
    .then(console.log)
</script> {% endcomment %}


{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock content %}
