{% extends "videoplay/base.html"%}
{% load static %}
{% block content %}

<div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <div class="jumbotron">
                                    <h1 class="display-4">Experiment Completed!</h1>
                                    <p class="lead">Thank you for your participation!</p>
                                    <hr class="my-4">
                                    
                                    <br>
                                  </div>
                              </div>
                            </div>
                          </div>

                </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock content %}